@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Ubuntu", sans-serif;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
}

@componet {
  .skill {
    border-color: rgba(128, 128, 128, 0.1);
    @apply border pl-5 py-3 rounded-lg mt-5;
    padding: 1.25rem;
  }
  
  .skill:hover {
    border-color: rgba(128, 128, 128, 0.3);
  }
}